.card-body {
    display: flex;
    margin: auto;
    width: 900px;
    height: 500px;
    background-color: #4c7a56;
    -webkit-mask: radial-gradient(circle at left top, transparent 100px, black 101px),
    radial-gradient(circle at right top, transparent 100px, black 101px),
    radial-gradient(circle at left bottom, transparent 100px, black 101px),
    radial-gradient(circle at right bottom, transparent 100px, black 101px),
    linear-gradient(black, black);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
}

.qrCode-container {
    height: 500px;
    width: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qrCode {
    margin-left: -175px;
    border: white solid 4px;
    border-radius: 8px;
}

h1,
.birth-date,
.student-name {
    color: #f7f7f7;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 90%;
    margin: auto;
    justify-content: space-around;
}

.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14rem;
    margin: auto;
    justify-content: space-around;
}

.avatar {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.student-name {
    font-size: clamp(2rem, 10vh, 0.5rem);
}

.vertical-line {
    width: 1px;
    height: 100%;
    border-left: dashed 5px #214528;
    position: relative;
    right: 172px;
    top: 0;
}

.logo {
    width: 120px;
    height: 120px;
    justify-self: center;
    margin-right: -140px;
    margin-top: 190px;
    margin-bottom: 190px;
}

.logo-container {
    width: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
}