body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100dvw;
  min-height: 100vh;
  flex-direction: column;
}
@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
